#texte1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1vw;
}

#image {
    position: relative;
    top: 1vw;
    border-radius: 10px;
}

button {
    width: 16vw;
    height: 3.5vw;
    position: relative;
    top: 2.5vw;
    font-size: 1vw;
    cursor: pointer;
    padding: 0.7vw;
    border-radius: 0.7vw;
    background-color: rgba(137, 165, 190, 0.527);
}